
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Información Básica</h6>
                <form   class="form p-t-20" 
                        [formGroup]="medicoForm"
                        (ngSubmit)="guardarMedico()">
                    
                    <div class="form-group row"
                         *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname2">Foto</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <img class="w200" [src]=" medicoSeleccionado.img! | imagen:'medicos'">
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="exampleInputuname2">Nombre</label>
                        <div class="input-group">
                            <input  type="text" 
                                    class="form-control" 
                                    id="exampleInputuname2" 
                                    placeholder="Nombre del médico"
                                    formControlName="nombre">
                            <div class="input-group-addon">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="exampleInputEmail2">Hospital</label>
                        <div class="input-group">
                            <select class="form-control"
                                    formControlName="hospital">
                                <option value="">Seleccionar Hospital</option>
                                <option *ngFor="let hospital of hospitales"
                                        [value]="hospital.uid">
                                        {{hospital.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="text-left">
                            <button type="submit" 
                                    class="btn btn-success waves-effect waves-light m-r-10"
                                    [disabled]="medicoForm.invalid">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>
                <img class="img-thumbnail" [src]=" hospitalSeleccionado.img! | imagen:'hospitales' ">
            </div>
        </div>
    </div>
</div>


